*{
    box-sizing: border-box;
}

.servicios{
    width: 80%;
    margin: 0 auto;
}
.proyectos{
    display: flex;
    margin: 50px 0px;
    flex-wrap: wrap;
    
}
.proyecto-especificacion{
    margin: 0 auto;
    width: 30%;
    background-color: #fff;
    padding: 20px;
    height: auto;
}
.proyecto-especificacion img{
    margin: 0 auto;
width: 90%;
height: 50%;

}
.proyecto-especificacion p {
    font-size: 25px;
}
.row{
    display: flex;
    
}

.marco{
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    height: auto;
}
.titulo{
    text-align: center;
    font-size: 50px;
}
.texto-central{
    margin: 0 auto;
    width: 70%;
    font-size: 25px;
   
}
.marco-principal{
    margin: 0 auto;
    background-color: #fff;
    width: 96%;
    padding: 50px 0;
    margin-top: 50px;
    margin-bottom: 80px;
}

@media (max-width: 1440px){
    .proyecto-especificacion {
       height: 600px;
        background-color: #fff;
        margin-bottom: 50px;
    }
    .proyecto-especificacion p {
        font-size: 20px;
    }
    .marco{   
        padding-bottom: 50px;
        margin-bottom: 50px;
        font-size: 18px;
        height: 290px;
       text-align: center;
    }
   
}
@media (max-width: 1017px){
    .servicios{
        width: 90%;
        margin: 0 auto;
    }
    .texto-central{
        font-size: 18px;
       
    }
    .proyecto-especificacion p {
        font-size: 17px;
    }
    .marco{
        font-size: 16px;
    }
}
@media (max-width: 430px) {
    .servicios{
        width: 92%;
    }
    .titulo{
        font-size: 30px;
    }
    .texto-central{
        margin: 0 auto;
        width: 90%;
        font-size: 20px;
       
    }
    .marco-principal{
        margin: 0 auto;
        background-color: #fff;
        width: 100%;
        padding: 50px 10px;
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .proyectos{
        flex-direction: column;
        
    }
    .proyecto-especificacion {
       margin: 0 auto;
        width: 75%;
        background-color: #fff;
        margin-bottom: 50px;
    }
    .proyecto-especificacion p {
        font-size: 20px;
    }
    .row {
        flex-direction: column;
    }
    .marco{
        width: 85%;
        padding-bottom: 50px;
        margin-bottom: 50px;
        font-size: 18px;
        height: 290px;
       text-align: center;
    }
   
}
@media (max-width: 321px) {
    .servicios{
        width: 92%;
    }
    .titulo{
        font-size: 25px;
    }
    .texto-central{
        margin: 0 auto;
        width: 90%;
        font-size: 18px;
       
    }
    .marco-principal{
        margin: 0 auto;
        background-color: #fff;
        width: 100%;
        padding: 50px 10px;
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .proyectos{
        flex-direction: column;
        
    }
    .proyecto-especificacion {
       margin: 0 auto;
        width: 80%;
        background-color: #fff;
        margin-bottom: 50px;
    }
    .proyecto-especificacion p {
        font-size: 17px;
    }
    .row {
        flex-direction: column;
    }
    .marco{
        width: 85%;
        padding-bottom: 60px;
        margin-bottom: 50px;
        font-size: 16px;
        height: 310px;
       text-align: center;
    }
   
}