/* Estilos base */

:root {
    --principal-bg-color: #e9efec;
    --secondary-bg-color: #ffffff;
    --terceary-bg-color: #262b27;
    --primary-color: #16423c;
    --secondary-color: #6a9c89;
    --terceary-color: #c4dad2;
    --text-color: #333;
  }
  
  * {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
  }
  
  html {
    min-height: 100vh;
    position: relative;
  }
  
  body {
    background-color: var(--principal-bg-color);
    margin: 0;
    min-height: 100vh;
  }
  .active{
    font-weight: 600;
  }
  .button-cta{
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    padding: .5em 3em;
    border-radius: 10px;
    margin: 1em 0;
    display: block;
    margin: auto;
    a{
        color: #FFF;
        text-decoration: none;
    }
  }
  .button-cta:hover{
    background-color: transparent;
    a{
        color: var(--primary-color);
    }
  }
  main {
    padding: 2em 0;
  }
  header {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
  }
  nav .navbar-brand{
    margin-right: 45px;
  }
  nav .nav-item{
    margin-right: 20px;
  }
  nav .nav-item:hover{
    font-weight: 600;
  }

  footer {
    background-color: var(--terceary-bg-color);
    position: absolute;
    bottom: 0;
    padding-top: 1em;
    width: 100%;
  }
  footer .no-margin{
    margin: 0;
  }
  
  footer p {
    color: #fff;
    margin-bottom: 0;
    span{
      color: #FFF;
      padding-left: 15px;
    }
  }
  
  footer img {
    padding: 0.5em;
    max-width: 220px;
  }

/* Responsive */
  
  @media (max-width: 767px) {
    footer {
      position: relative;
    }
  }

  
  
