
.inicio{
    max-width: 1500px;
    margin: auto;
}

.inicio img{
    width: 100%;
    height: auto;
}
.inicio p{
    text-align: justify;
    margin-bottom: 1.5em;
}
.inicio .alineado-horizontal{
    min-height: 60vh;
}

.row{
    margin: auto;
}

@media (max-width:767px){
    .button-cta{
        width: 100%;
    }
    .alineado-horizontal{
        flex-direction: column-reverse;
    }
    
}